* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 100%, 93%);
  background: url("../images/bg-mobile.png") center/cover no-repeat;
}
@media (min-width: 48rem) {
  body {
    background: hsl(229, 57%, 11%) url("../images/bg-desktop.png") bottom/contain no-repeat;
  }
}

img {
  display: block;
  max-width: 100%;
}

.storage {
  position: relative;
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 20.375rem;
}
.storage__header {
  display: grid;
  gap: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  border-top-right-radius: 100px;
  background-color: hsl(228, 56%, 26%);
}
.storage__icons {
  display: flex;
  gap: 1rem;
}
.storage__icon {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  transition: transform 0.2s ease-in-out;
}
.storage__icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(221.085, 219.3, 255, 0.2);
}
.storage__usage {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(228, 56%, 26%);
  max-height: 10rem;
}
.storage__text {
  margin-bottom: 1rem;
}
.storage__bar {
  padding: 3px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: hsl(229, 57%, 18%);
}
.storage__bar-fill {
  width: 81.5%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  animation: fillBar 1.3s ease-out forwards;
}
.storage__bar-fill::after {
  content: "";
  width: 10px;
  height: 10px;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(0%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 81.5%;
  }
}
.storage__limits {
  display: flex;
  justify-content: space-between;
  margin-block: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.storage__remaining {
  padding: 0.75rem 1.5rem;
  max-width: 11.25rem;
  margin: auto;
  border-radius: 10px;
  font-weight: bold;
  color: hsl(229, 7%, 55%);
  background-color: hsl(0, 0%, 100%);
}
.storage__remaining-value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.storage__remaining span {
  font-size: 2.5rem;
  color: hsl(229, 57%, 11%);
}
@media (min-width: 48rem) {
  .storage {
    grid-template-columns: 38% auto;
    gap: 1.875rem;
    align-items: center;
    max-width: 57.5rem;
  }
  .storage__header {
    width: 100%;
  }
  .storage__usage {
    width: 100%;
    align-self: end;
    padding: 2.5rem;
    max-height: 9.625rem;
  }
  .storage__text {
    text-align: left;
  }
  .storage__remaining {
    position: absolute;
    top: 0;
    right: 2.5rem;
  }
  .storage__remaining::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(0, 0%, 100%);
  }
}

/*# sourceMappingURL=style.css.map */
